<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFusionService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://fusionsoapservice.cloudapp.net/FusionService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFusionService"
                contract="FusionSoapService.IFusionService" name="BasicHttpBinding_IFusionService" />
        </client>
    </system.serviceModel>
</configuration>