<?xml version="1.0" encoding="utf-8" ?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>

    </connectionStrings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IFusionService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://fusionsoapservice.cloudapp.net/FusionService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFusionService"
          contract="FusionSoapService.IFusionService" name="BasicHttpBinding_IFusionService" />
    </client>
  </system.serviceModel>

</configuration>
